<div class="container">
    <div class="container-flex">
        <p class="title">Desarrollador, Front-end y Backend Developer & Bailarin </p>

        <p class="subtitle"> Yo desarrollo y codeo lo mejor posible y simple, Por que? <fa-icon style="color: crimson;" [icon]="faHeart"></fa-icon> Amo hacerlo! </p>
        <img class="imgmen" src="../../../assets/imgs/men.png" alt="">

        <div class="showmore"> 
            
            <fa-icon style="color: #167c80;; cursor: pointer;" [icon]="faChevronDown"></fa-icon>

            <div class="textmore"> Lee mas sobre lo que realizo</div>
        </div>
      <!--  <img src="../../../assets/imgs/dispositives.png" alt="">-->
    </div>

</div>