    .container-flex{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title{
        padding-top: 3rem;
        color:  #167c80;
        font-family: "eurostile", sans-serif;
        line-height: 1.125;
        font-weight: 800;
        word-break: break-word;
        margin-bottom: 2rem;
        font-size: 2rem !important;
    }

    .subtitle{
       color: rgba(10, 10, 10, 0.9);
       margin-bottom: 2rem;
       word-break: break-word;
       font-family: "europa", sans-serif;
       font-weight: 300;
       line-height: 1.5;
       font-size: 1.5rem !important;
    }

    .imgmen{
        padding-top: 3rem;
        height: 300px;
    }

    .showmore{
        margin-top: 2rem;
        height: 100px;
        display: flex;
        flex-direction: column-reverse;
        width: 120%;
        align-items: center;
        justify-items: end;
        border-color: #167c80;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
        transition: 0.3s;      
    }

    .showmore:hover{
        
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .textmore{
        word-break: break-word;
        margin-top: -20px;
        cursor:pointer;
        font-family: "europa", sans-serif;
        font-weight: 400;
        color: #167c80;
        line-height: 1.5;
    }