<div class="navbar-flex"> 
  <div class="navitem-left">
    <img src="../assets/imgs/logo.png" alt="">
  </div>

  <div class="navitem-right">
      <div class="ancla">
        <a [routerLink]="['home']" routerLinkActive="aActive">Inicio </a>

      </div>
      <div class="ancla">
        <a >Perfil</a>
      </div>
     
      <div class="ancla">      
        <a [routerLink]="['portfolio']" routerLinkActive="aActive">Portafolio </a>
      </div>
      <div class="ancla">
        <a>Contacto</a>
      </div>
      


  </div>
</div>
<div style="width: 100%;">
  <router-outlet></router-outlet>

</div>

<footer>

  

<div id="demoFont">Enfranly Monzon © 2020 - Todos los derechos reservados</div>
<div>Iconos diseñados por <a href="https://www.flaticon.es/autores/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
</footer>